/* ------- Color Variables ------- */

$oxfordBlue: #011936;
$blackCoral: #465362;
$mintCream: #F4FFFD;
$naplesYellow: #F9DC5C;
$redCrayola: #ED254E;

/* ------- END of Color Variables ------- */

/* ------- General Page Styling ------- */

* {
    user-select: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body {
    background-color: $oxfordBlue;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------- END of General Page Styling ------- */

/* ------- Scrollbar Styling ------- */

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* ------- END of Scrollbar Styling ------- */

/* ------- Top Navbar Styling ------- */

.navbar {
    transition: height 300ms;
    z-index: 100;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    background-color: $blackCoral;
    color: $mintCream;
    align-items: center;
    justify-content: space-between;
}

.navbar>* {
    margin: 2rem;
}

.navlinks a {
    text-decoration: none;
    color: $mintCream;
    padding: 0.75rem;
}

.navlinks a:hover {
    cursor: pointer;
    border-radius: 1rem;
    background-color: $oxfordBlue;
    opacity: 0.6;
}

.navlinks {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 3em;
}

#logo:hover {
    cursor: pointer;
}

/* ------- END of Top Navbar Styling ------- */

/* ------- Main Page Styling ------- */

main {
    text-align: center;
    padding-top: 20vh;
}

.section-header {
    font-size: 4rem;
    font-weight: bold;
}


button {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background: linear-gradient(#465362, #011936);
    color: white;
    margin: 1rem;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(#4f5964, #0a203b);
}

/* ------- END of Main Page Styling ------- */

/* ------- Home Section Styling ------- */

#home {
    color: $mintCream;
    margin-bottom: 10vh;
}

/* ------- END of Home Section Styling ------- */

/* ------- About Section Styling ------- */

#about {
    margin-bottom: 10vh;
}

.grid-container {
    display: grid;
    background-color: $naplesYellow;
    gap: 1rem;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.grid-container>* {
    background-color: $mintCream;
    text-align: center;
    padding: 20px 0;

}

.grid-container>*:hover {
    opacity: 0.6;
}

/* ------- END of About Section Styling ------- */

/* ------- Pricing Section Styling ------- */

#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $mintCream;
    gap: 2rem;
}

#pricing-description {
    font-weight: bold;
    font-size: 2rem;
}

.selection-button {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    color: black
}

.selection-button>* {
    padding: 1rem;
}

.selection-button>*:hover {
    cursor: pointer;
}

.selected-button {
    border: 0.075rem solid $oxfordBlue;
    border-radius: 1rem;
}

.cards {
    width: 75%;
    display: flex;
    color: black;
    background-color: grey;
    padding: 3rem;
    border-radius: 0.5rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.cards>* {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 10px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------- END of Pricing Section Styling ------- */

/* ------- Footer Styling ------- */

footer {
    margin-top: 10vh;
    display: flex;
    height: 10vh;
    background-color: $blackCoral;
    color: $mintCream;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a {
    color: $mintCream;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* ------- END of Footer Styling ------- */

/* ------- Styling for smartphones ------- */

.navbar-open {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 40vh;
    width: 100%;
    display: none;
    background-color: $blackCoral;
    color: $mintCream;
    justify-content: space-between;

}

.navbar-open>* {
    margin: 2em;
}

.navlinks-mobile {
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;

    //
    height: 1em;
    justify-content: center;
    align-items: center;
    gap: 2.25em;
}

.navlinks-mobile>* {
    text-align: center;
    background-color: $redCrayola;
    border-radius: 2rem;
    padding: 0.25em;
}

.navlinks-mobile>*:hover {
    text-decoration: underline;
}

.navlinks-mobile a {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
}

.nav-icon-show {
    //Will only show on small screens
    display: none;
}

.nav-icon-hide {
    display: none;
}

@media screen and (max-width: 480px) {

    .navlinks {
        display: none;
    }

    .navbar-open {
        display: flex;
    }


    .nav-icon-show {
        display: block;
    }

    .cards {
        flex-direction: column;
        width: 70%;
        padding: 2rem;
    }

}

@media screen and (max-height: 700px) {

    .navbar-open {
        height: 60vh;
    }

}

/* ------- END Styling for smartphones ------- */